
// Bases color

$color-Light-blue: #28ADF9;
$color-purple: #7476F3;
$color-black: black;
$color-transition: rgb(10, 169, 218);
$color-white: white;
$color-cyan:  #87adfe;
$color-wheat: wheat;
$color-antiquewhite: antiquewhite;
$color-star:  #a1a1a1;
$color-star-active: #f1be06;
$color-oldlace: oldlace;
$color-tan: tan;
$color-silver: silver;
$color-e: #eee;
$color-xblue: #3b99e0;
$color-ram: rgba(0, 0, 0, 0.1);

$color-rgba-one: rgb(240, 200, 23);
$color-rgba-two: rgb(240, 169, 15);