// Style contact us

// Page contact

section.Contact h4.heading-custom {
    margin-top: 20px;
}

section.Contact .line {
    width: 150px;
}

section.Contact .contact {
    height: 2px;
    width: 160px;
    margin: 15px auto 30px;
    box-shadow: 0 0 0 3px rgb(3 102 214 / 30%);
}

section.Contact label {
    font-family: $font-heading;
}

section.Contact label svg {
    font-size: 20px;
    margin-left: 5px;
    color: $color-Light-blue;
}

section.Contact input {
    font-family: $font-lang;
}

textarea.form-control {
    font-family: $font-lang;
}

section.Contact .send-mail button {
    background-color: transparent;
    border-radius: 0;
    border-color: transparent;
}

section.Contact .send-mail button.custom-btn {
    font-weight: 600;
    background: linear-gradient(75deg, $color-transition, $color-cyan);
    border-color: #fff;
    border-radius: 25px;
    color: wheat;
    font-family: $font-lang;
    padding: 14px 35px;
    transition: all .6s ease-in-out;
}

section.Contact .send-mail button.custom-btn svg {
    margin-right: 10px;
    font-size: 20px;
}

section.Contact .send-mail button.custom-btn:hover,
section.Contact .send-mail button.custom-btn:active,
section.Contact .send-mail button.custom-btn:focus {
    color: $color-e;
}

section.Contact .image-msg img {
    height: 330px;
    margin-top: 20%;
}