// Import file style scss (sass)

@import './fonts';
@import './color';
@import './images';
@import './header';
@import './about';
@import './features';
@import './how';
@import './teachers';
@import './filter';
@import './pricing';
@import './contact';
@import './footer';


// Styles Website

html {
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: $font-lang;
    font-size: 18px;
}

.icon-social-media ul {
    padding: 0;
    margin-top: 8%;
}

.icon-social-media ul li {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    background: linear-gradient(45deg, $color-cyan, $color-transition);
    transition: all 0.5s ease-in-out;
}

.icon-social-media ul li:hover,
.icon-social-media ul li:active,
.icon-social-media ul li:focus {
    background: linear-gradient(120deg, $color-purple, $color-transition);
}

.icon-social-media ul li a {
    text-decoration: none;
    font-size: 24px;
    color: $color-white;
    transition: all 0.5s ease-in-out;
}

.icon-social-media ul li a:hover,
.icon-social-media ul li a:active,
.icon-social-media ul li a:focus {
    color: $color-wheat;
}


// STYLES ABOUT US

section .title_section {
    margin: 45px 0;
}

.line {
    height: 2px;
    width: 130px;
    margin: -25px auto 30px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


section.Choose-teacher.Our-Teachers .line {
    width: 120px;
}

section.more-features .icon-title-text img {
    height: 60px;
    margin: 50px 0 20px;
}

section.more-features .icon-title-text h5 {
    margin-bottom: 10px;
}




// Responsive website with MediaQeury

@media (min-width: 320px) and (max-width: 575.98px) {

    header.top_header nav ul li.item-anthor {
        margin-top: 20px;
        padding: 10px 25px;
    }

    header.top_header .image_eduction_one img {
        margin: 0;
        height: 275px;
    }

    header.top_header .link-sign-up a {
        display: block;
        margin-top: 25px;
    }

    header.top_header .icon-social-media ul {
        display: none;
    }

    header.top_header .link-sign-up.text-center {
        margin-bottom: 25%;
    }

    header.top_header #carouselSliderIndicators a img {
        height: 30px;
        top: 94%;
    }

    section.About_us img {
        height: 280px;
    }

    section.About_us .long-description ul li {
        display: block;
        text-align: center;
    }

    section.how-it-works .how-to-use-website .numbers h3 {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 17px;
    }

    section.how-it-works .how-to-use-website .numbers .description {
        font-weight: normal;
        margin-right: 3px;
        font-size: 15px;
    }

    section.how-it-works .vedio_motion iframe {
        width: 100%;
        margin-top: 25px;
    }

    footer.latest-footer {
        margin-top: 30%;
    }

    footer.latest-footer h4.heading-mail {
        font-size: 16px;
    }

    footer.latest-footer .title-column h4.custom-heading {
        font-size: 17px;
    }

    footer.latest-footer .line.info {
        width: 135px;
    }

    footer.latest-footer .line.links {
        width: 95px;
    }

    footer.latest-footer .line {
        width: 105px;
    }

    footer.latest-footer form {
        margin: 20px 0 5px;
    }

    footer.latest-footer .copyright p {
        font-weight: normal;
        font-size: 16px;
    }

    // Responsive page about us 
    header.top_header .link-sign-up a {
        display: block;
    }

    header.top_header .image img {
        height: 275px;
    }

    // Page contact-us
    section.Contact .image-msg img {
        height: 160px;
        margin-top: 20%;
    }

    // Filter Teachers

    h6.cst-title {
        margin: 30px 0;
    }

    form.form-inline {
        display: inline-block !important;
    }

    .form-group.From-To-Date.From-to-time {
        margin: -20px 0;
    }

    .form-group button.filter-btn {
        margin: 165px 0 0;
    }

    // 

    .From-to-time {
        position: relative;
        margin: 15px 0;
    }

    .form-group button.filter-btn {
        margin: -10px 0;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    header.top_header nav ul li.item-anthor {
        margin-top: 20px;
        padding: 10px 25px;
    }

    header.top_header .image_eduction_one img {
        margin: 15px 0;
    }

    header.top_header .link-sign-up a {
        display: block;
    }

    .icon-social-media ul {
        padding: 0;
        margin: 12% 0;
    }

    header.top_header #carouselSliderIndicators a img {
        top: 95%;
    }

    section.About_us .long-description ul li {
        display: block;
        text-align: center;
    }

    section.how-it-works .vedio_motion iframe {
        margin-top: 30px;
        width: 100%;
    }

    footer.latest-footer {
        margin-top: 15%;
    }

    footer.latest-footer ul {
        margin-top: 1%;
        margin-bottom: 25px;
    }

    // Responsive page about us 
    header.top_header .link-sign-up a {
        display: block;
    }

    // Page contact
    section.Contact .image-msg img {
        height: 280px;
    }

    // Filter Teachers

    h6.cst-title {
        margin: 30px 0;
    }

    form.form-inline {
        display: inline-block !important;
    }

    .form-group.From-To-Date.From-to-time {
        margin: -20px 0;
    }


}

@media (min-width: 768px) and (max-width: 991.98px) {

    header.top_header nav ul li.item-anthor {
        margin-top: 20px;
        padding: 10px 25px;
    }

    header.top_header .image_eduction_one img {
        margin: 15px 0;
    }

    header.top_header h3.text-heading {
        margin-top: 0%;
    }

    .icon-social-media ul {
        padding: 0;
        margin: 10%;
    }

    header.top_header #carouselSliderIndicators a img {
        top: 94.5%;
    }

    section.how-it-works .vedio_motion {
        text-align: center;
    }

    section.how-it-works .vedio_motion iframe {
        margin-top: 5%;
    }

    section.Choose-teacher .card-group .card img {
        height: 250px;
    }

    footer.latest-footer ul {
        margin-top: 1%;
        margin-bottom: 25px;
    }

    // Responsive page about us 
    header.top_header .link-sign-up a {
        display: block;
    }

    // Filter Teachers

    h6.cst-title {
        margin: 30px 0;
    }

    form.form-inline {
        display: inline-block !important;
    }

    .form-group.From-To-Date.From-to-time {
        margin: -20px 0;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

    header.top_header nav a img {
        height: 60px;
    }

    header.top_header nav ul li a {
        font-size: 17px;
    }

    section.About_us .long-description h5.custom_heading {
        font-family: $font-write;
        font-weight: 600;
        font-size: 15px;
    }

    section.how-it-works .vedio_motion iframe {
        width: 100%;
        height: 250px;
    }

    // Responsive page .about-us

    section.About_us .title_item h3 {
        font-size: 23px;
    }

    h4.heading-mail {
        font-size: 21px;
        color: $color-white;
    }

    // Page contact-us responsive

    section.Contact .image-msg img {
        height: 260px;
    }

    // page teachers
    .col-lg-4.col-md-6.col-sm-6.col-12.add-teacher {
        display: none;
    }

    // Filter Teachers

    .From-To-Date p.between {
        margin: 0px 4px;
    }

    .form-group.From-To-Date.From-to-time {
        margin-top: 36%;
    }

}

@media (min-width: 1200px) {
    // Good Responsive

    // page teachers
    .col-lg-4.col-md-6.col-sm-6.col-12.add-teacher {
        display: none;
    }
}